<!-- BEGIN_INCLUDE(neo4j:config-no-auth) -->
<neo4j:config />
<!-- END_INCLUDE(neo4j:config-no-auth) -->

<!-- BEGIN_INCLUDE(neo4j:config-auth) -->
<neo4j:config user="a_user" password="@_p@$$w0rd" />
<!-- END_INCLUDE(neo4j:config-auth) -->


<!-- BEGIN_INCLUDE(neo4j:getServiceRoot) -->
<neo4j:get-service-root />
<!-- END_INCLUDE(neo4j:getServiceRoot) -->

<!-- BEGIN_INCLUDE(neo4j:runCypherQuery) -->
<neo4j:run-cypher-query>
    <neo4j:cypher-query query="start x = node(0) match x -[r]-> n return type(r)" />
</neo4j:run-cypher-query>
<!-- END_INCLUDE(neo4j:runCypherQuery) -->
